<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Friday, January 25, 2019</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:15</td>  <td>Installation help. <br /> Please arrive early if you had problems installing all of the required software.</td> </tr>
      <tr> <td>08:30</td>  <td>Coffee and light breakfast</td> </tr>
      <tr> <td>09:00</td>  <td>Introductions</td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://ucsbcarpentry.github.io/2019-01-25-UCSBLibrary/001-intro/">The Unix Shell</a></td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://ucsbcarpentry.github.io/2019-01-25-UCSBLibrary/004-pipefilter/">The Unix Shell: episode 4: Pipefilter</a> (cont.)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:45</td>  <td><a href="https://ucsbcarpentry.github.io/2019-01-25-UCSBLibrary/007-find/">The Unix Shell: episode 7: Finding things with grep</a> (cont.)</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>14:45</td>  <td><a href="https://ucsbcarpentry.github.io/2019-01-25-UCSBLibrary/101-rstudio-intro/">Introduction to R</a></td> </tr>
      <tr> <td>16:00</td>  <td><a href="https://ucsbcarpentry.github.io/2019-01-25-UCSBLibrary/201-basics/">Version Control with git: Getting Started</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Saturday, January 25, 2019</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Breakfast</td> </tr>
      <tr> <td>09:00</td>  <td>Refresh</td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://ucsbcarpentry.github.io/2019-01-25-UCSBLibrary/205-history">Version control with Git: episode 5</a></td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://ucsbcarpentry.github.io/2019-01-25-UCSBLibrary/209-conflict">Version control with Git: episode 9</a>Finish Version control with Git</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://ucsbcarpentry.github.io/2019-01-25-UCSBLibrary/214-supplemental-rstudio/index.html">git with R Studio</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:45</td>  <td><a href="https://ucsbcarpentry.github.io/2019-01-25-UCSBLibrary/103-seeking-help/index.html">Programming with R: episode 3</a></td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>14:45</td>  <td><a href="https://ucsbcarpentry.github.io/2019-01-25-UCSBLibrary/106-data-subsetting/index.html">Programming with R: episode 6</a></td> </tr>
      <tr> <td>16:00</td>  <td><a href="https://ucsbcarpentry.github.io/2019-01-25-UCSBLibrary/106-data-subsetting/index.html">Programming with R: Wrap-up: Graphing with R: episode 8 and 11</a></td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
